.navbar-light {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}
.image-preview {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 10px;
    max-height: 400px;
    overflow: auto;
}
  
.preview-item {
    flex: 0 0 auto;
    margin-right: 10px;
    margin-bottom: 10px;
}
.img-thumbnail {
    max-height: 100px;
}
  
.ql-container {
    min-height: 150px;
}

.content {
    margin: 20px;
}

